.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

textarea {
  font-family: monospace;
}

input, select, textarea {
  font-family: monospace;
  box-shadow: inset 3px 3px 7px 0px #ccc;
  border: 1px solid #585858;

}

code {
  font-family: monospace;
}

/* inerse colors  */
@media (prefers-color-scheme: dark) {
  html {
    filter: invert(1) hue-rotate(180deg);
  }
}